.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginDiv {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login_inputDiv {
  display: flex;
  flex-direction: column;
}

.login_inputDiv input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkboxDiv {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.signup_checkbox {
  margin-right: 10px;
}

#error-text {
  color: red;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 10px;
}

.hr_line_login {
  border: 0;
  height: 1px;
  background: #ddd;
  margin-bottom: 20px;
}

.hv_account {
  text-align: center;
}

.hv_account a {
  color: #007bff;
  text-decoration: none;
}

.hv_account a:hover {
  text-decoration: underline;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 10px;
}
